NODE_ENV=develop
PORT=3802
PATH_TO_PLAYWRIGHT=../playwright
PATH_TO_REPORTS=/tmp
MASTER_URL=http://minifarm-master:3801

# cat /sys/class/net/eth0/address
MAC_ADDRESS=

# These are taken from the OS by default, use the variables to override
# CLIENT_URL=http://localhost
# WORKERS=1
# CLIENT_ID=01
